.desktopIcon {
  text-align: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.iconField {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100px;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 0px;
  image-rendering: pixelated;
}

.controlIcon {
  width: 20px;
  height: 20px;
  image-rendering: pixelated;
}

.appText {
  color: white;
  font-size: 14px;
  line-height: 1.2;
  padding: 2px;
}

.window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barSeparator {
  margin-left: 3px;
  margin-right: 4px;
}

.barAppButton {
  border: 1px;
}

.barAppButton:hover{ 
  
  border-left-color: aliceblue;
  border-top-color: aliceblue;
  border-bottom-color: azure;
  border-right-color: azure;
}