@keyframes flicker {
  0% { opacity: 0.95; }
  50% { opacity: 1; }
  100% { opacity: 0.98; }
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999; 
  pointer-events: none; 

  animation: flicker 0.25s infinite;
}

.crt-overlay::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 30%,
    rgba(0, 0, 0, 0.2) 30%
  );

  background-size: 100% 3px;
  pointer-events: none;
}

.crt-overlay::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 60%, 
    rgba(0, 0, 0, 0.4) 100% 
  );

  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}